.section1 .p_text {
    font-size: 24px;
    line-height: 31px;
    font-weight: 400;
    padding: 0;
}

.section1 .p_text span {
    font-weight: bold;
}

.section1 .row_box {
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 0 72px;
}

.section1 .row_box:last-of-type {
    margin: 0;
}

.section1 .box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.section1 .text_box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.section1 .number {
    color: #6667AB;
    font-size: 78px;
    line-height: 88px;
    font-weight: bold;
}

.section1 .list .note {
    font-size: 18px;
}

.section2 {
    color: white;
    padding: 65px 0;
}

.section2 .content {
    flex-direction: column;
}

.section2 .row_box {
    justify-content: space-between;
    align-items: flex-start;
}

.section2 .text {
    font-size: 24px;
    line-height: 31px;
    font-weight: 400;
}

.section2 .text span {
    font-weight: bold;
}

.section2 table {
    border-collapse: collapse;
    font-size: 18px;
    margin: 23px 0 28px;
}

.section2 table td {
    border-bottom: 1px solid white;
    text-align: center;
    padding: 8px 14px;
}

.section2 table th {
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px solid white;
    padding: 10px 0;
}

.section2 table td:first-of-type {
    text-align: left;
}

.section2 .note {
    font-size: 18px;
    line-height: 20px;
    margin: 0 0 40px;
}

.section2 .text_box {
    margin: 54px 0 0;
}

.section2 .number {
    font-size: 68px;
    line-height: 80px;
    font-weight: bold;
}

.section2 .text_box:last-of-type {
    margin: 50px 0 0;
}

.section2 .p_text {
    font-size: 36px;
    line-height: 44px;
    font-weight: bold;
    margin: 0 0 18px;
}

.section2 .p_text span {
    font-weight: bold;
}

.section2 .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
