.section1 .grafs_box .title {
    color: #6667AB;
    font-size: 36px;
    line-height: 43px;
    font-weight: 400;
}

.section1 .graf_img {
    max-width: 538px;
}
.section1 .graf:last-of-type .graf_img {
    width: 100%;
    max-width: 538px;
}

.section1 .big_text {
    font-size: 79px;
    line-height: 80px;
    color: #6667AB;
    font-weight: bold;
}

.section1 .item_img {
    max-width: 121px;
    margin: 0 28px 0 0;
}

.section1 .item_img2 {
    max-width: 157px;
}

.section1 .item_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.section1 .item_box .text {
    padding: 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
}
.section1 .row_box:last-of-type
{
    margin: 42px 0 0;
}
.section1 .grafs_box {
    margin: 95px 0 0;
    justify-content: space-between;
        align-items: center;
}
.section2 {
    padding: 62px 0;
    color: white;
}

.section2 .graf_title {
    font-size: 30px;
    line-height: 36px;
    margin: 0 0 42px;
    font-weight: 400;
}


.section2 .graf .graf_img {
    max-width: 542px;
    width: 100%;
}

.section2 .item_img {
    max-width: 79px;
}

.section2 .title {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 0 26px;
    color: white;
}


.section3 {
    padding: 66px 0;
}

.section3 .grafs_box {
    align-items: center;
}

.section3 .graf_img {
    max-width: 549px;
}

.section3 .item_box {
    display: flex;
    align-items: flex-end;
    margin: 0 0 59px;
}

.section3 .item_box:last-of-type {
    margin: 0;
}

.section3 .text {
    font-size: 21.5px;
    line-height: 27px;
    font-weight: 400;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}


.section3 .item_img {
    max-width: 116px;
    margin: 0 42px 0 0;
}

.section3 .item_img2 {
    max-width: 147px;
    margin: 0 20px 0 0;
}



.section4 {
    padding: 65px 0;
    color: white;
}

.section4 .clm_box {
    max-width: 50%;
}


.section4 .graf .graf_img {
    max-width: 455px;
    width: 100%;
    margin: 0 0 15px;
}


.section4 .grafs_box {
    align-items: flex-start;
}

.section4 .text {
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    margin: 0 0 17px;
}

.section4 .text_title {
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    margin: 45px 0 0;
}

.section4 .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px 0 0
}

.section4 .item .text {
    margin: 0;
}

.section4 .item:last-of-type {
    margin: 0;
}

.section4 .circle_box {
    border-radius: 50%;
    width: 79px;
    height: 79px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 29.64px;
    line-height: 38px;
    font-weight: bold;
    margin: 10px 0 7px;
}

.section4 .circle_box_white {
    background-color: white;
    color: #6667AB;
}



@media all and (max-width:1200px) {}

@media all and (max-width:1024px) {


    .section3 .grafs_box {
        flex-direction: column;
    }

    .section3 .graf {
        width: auto;
        margin: 40px 0 0;
    }

    .section4 .grafs_box {
        flex-direction: column;
        align-items: center;
    }

    .section4 .clm_box {
        margin: 40px 0 0;
        width: auto;
        max-width: 70%;
    }

    .section4 .graf {
        width: auto;
    }
}

@media all and (max-width:900px) {

    .section1 .grafs_box {
        align-items: center;
    }

}

@media all and (max-width:650px) {
    .section3 .graf_img {
        max-width: 100%;
    }

    .section4 .row_box,
    .section1 .row_box {
        flex-wrap: wrap;
    }

    .section1 .big_text {
        font-size: 50px;
    }

    .section1 .item_box {
        width: 100%;
        align-items: center;
    }

    .section1 .item_box:first-of-type {
        margin: 24px 0 0;
    }

}

@media all and (max-width:400px) {
    .section3 .item_box {
        flex-direction: column;
        align-items: center;
    }

    .section2 .row_box div {
        margin: 0;
        min-width: 90%;
    }
}
