.section1 .grafs_box .title {
    color: #6667AB;
    font-size: 36px;
    line-height: 43px;
    font-weight: 400;
}

.section1 .graf_img {
    max-width: 538px;
}

.section1 .graf:last-of-type .graf_img {
    width: 100%;
    max-width: 538px;
    max-height: 288px;
}

.section1 .big_text {
    font-size: 79px;
    line-height: 80px;
    color: #6667AB;
    font-weight: bold;
}

.section1 .item_img {
    max-width: 121px;
    max-height: 182px;
    object-fit: contain;
    margin: 0 28px 0 0;
}

.section1 .item_img2 {
    max-width: 157px;
    max-height: 155px;
    object-fit: contain;
}

.section1 .item_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.section1 .item_box .text {
    padding: 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
}

.section1 .row_box:last-of-type {
    margin: 42px 0 0;
}

.section1 .grafs_box {
    margin: 95px 0 0;
    justify-content: space-between;
    align-items: center;
}

.section2 {
    padding: 62px 0;
    color: white;
}

.section2 .graf_title {
    font-size: 30px;
    line-height: 36px;
    margin: 0 0 42px;
    font-weight: 400;
}


.section2 .graf .graf_img {
    max-width: 560px;
    width: 100%;
    max-height: 603px;
}

.section2 .graf .graf_img2 {
    max-width: 540px;
    width: 100%;
    max-height: 683px;
}

.section2 .item_img {
    max-width: 79px;
}

.section2 .graf {
    width: fit-content;
}

.section2 .title {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 0 26px;
    color: white;
}

.section2 .big_text {
    font-size: 79px;
    line-height: 80px;
    color: white;
    font-weight: bold;
}

.section2 .item_img {
    max-width: 147px;
    margin: 0 37px 0 0;
}

.section2 .item_img2 {
    max-width: 126px;
    margin: 0 37px 0 0;
}

.section2 .item_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.section2 .item_box .text {
    padding: 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
}

.section2 .clm_box .row_box {
    margin: 0 0 40px;
    align-items: center;
    position: relative;
}

.section2 .clm_box:first-of-type .row_box {
    margin: 81px 0 0;
}

.section2 .tootlip_box {
    top: -5px;
}


.section3 {
    padding: 66px 0;
}

.section3 .grafs_box {
    align-items: flex-start;
}

.section3 .graf_img {
    max-width: 562px;
    max-height: 414px;
}

.section3 .item_box {
    display: flex;
    align-items: flex-end;
}

.section3 .item_box:last-of-type {
    margin: 0;
}

.section3 .text {
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.section3 .text span {
    font-weight: bold;
}


.section3 .item_img {
    max-width: 205px;
    margin: 0 -65px 0 0;
}

.section3 .clm_box {
    min-height: 413px;
    justify-content: center;
}


.section4 {
    padding: 69px 0;
    color: white;
}

.section4 .clm_box {
    max-width: 100%;
}

.section4 .img_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 0 40px;
}

.section4 .img_box img {
    max-width: 194px;
    margin: 0 10px;
}

.section4 .graf .graf_img {
    max-width: 545px;
    width: 100%;
    max-height: 890px;
}


.section4 .grafs_box {
    align-items: center;
}

.section4 .text {
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
}

.section4 .text span {
    font-weight: bold;
}


.section5 {
    padding: 63px 0;
}

.section5 .grafs_box {
    align-items: flex-start;
}

.section5 .graf_img {
    max-width: 570px;
    max-height: 465px;
}

.section5 .item_box {
    display: flex;
    align-items: flex-end;
}

.section5 .item_box:last-of-type {
    margin: 0;
}

.section5 .text {
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
    padding: 0;
    margin: 45px 0 0;
}

.section5 .text span {
    font-weight: bold;
}

.section5 .graf .text {
    margin: 50px 0 0;
}


.section5 .item_img {
    max-width: 128px;
    margin: 0 40px 0 0;
}

.section5 .clm_box {
    min-height: 692px;
    justify-content: space-between;
    padding: 20px 0 0;
}

.section5 .clm_box .text {
    padding: 0 0 0 20px;
}

.section5 .big_text {
    font-size: 79px;
    line-height: 80px;
    color: #6667AB;
    font-weight: bold;
}

.section5 .item_img {
    max-width: 199px;
    margin: 0 30px 0 0;
}

.section5 .item_img2 {
    max-width: 117px;
    margin: 0 70px 0 41px;
}

.section5 .item_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.section5 .item_box .text {
    padding: 0;
    margin: 0;
    line-height: 35px;
}

.section5 .row_box {
    width: 100%;
    align-items: center;
}

.section5 .row_box:last-of-type {
    margin: 0 0 30px;
}

.section6 {
    padding: 63px 0;
    color: white;
}

.section6 .graf_title {
    font-size: 30px;
    line-height: 36px;
    margin: 0 0 42px;
    font-weight: 400;
}


.section6 .graf .graf_img {
    max-width: 1140px;
    width: 100%;
    max-height: 323px;
}

.section6 .graf .graf_img2 {
    max-width: 540px;
    width: 100%;
}

.section6 .item_img {
    max-width: 79px;
}

.section6 .graf {
    width: fit-content;
    margin: 50px 0 0;
}

.section6 .title {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 0 26px;
    color: white;
}

.section6 .big_text {
    font-size: 79px;
    line-height: 80px;
    color: white;
    font-weight: bold;
}

.section6 .item_img {
    max-width: 216px;
    margin: 0 17px 0 0;
}

.section6 .item_img2 {
    max-width: 126px;
    margin: 0 37px 0 0;
}

.section6 .item_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.section6 .item_box .text {
    padding: 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
}

.section6 .clm_box .row_box {
    align-items: center;
    position: relative;
    justify-content: space-between;
    padding: 0 47px 0 0;
}

.section6 .tootlip_box {
    top: -5px;
}

.section6 .item {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 6px;
}

.section6 .circle_box {
    border-radius: 50%;
    border: 1px solid white;
    width: 79px;
    height: 79px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 29.64px;
    font-weight: bold;
}

.section6 .item .title {
    font-size: 18px;
    line-height: 31px;
    margin: 0;

}

.section7 {
    padding: 65px 0;
}

.section7 .graf_img {
    max-width: 540px;
    max-height: 448px;
}

.section7 .graf_img2 {
    max-width: 540px;
    max-height: 320px;
}

.section7 .text {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    margin: 0 0 20px;
}

.section7 .grafs_box {
    align-items: flex-start;
}

.section7 .tootlip_box {
    top: -5px;
}

.section7 .graf:first-of-type {
    padding: 30px 0 0;
}


@media all and (max-width:1200px) {}

@media all and (max-width:1024px) {

    .section2 .grafs_box,
    .section3 .grafs_box,
    .section4 .grafs_box,
    .section5 .grafs_box,
    .section6 .grafs_box,
    .section7 .grafs_box {
        flex-direction: column;
        align-items: center;
    }

    .section2 .clm_box:last-of-type {
        margin: 40px 0 0;
    }

    .section3 .graf {
        width: auto;
        margin: 0 0 40px;
    }

    .section4 .clm_box {
        margin: 0 0 40px;
    }

    .section5 .graf,
    .section7 .graf {
        width: auto;
    }

    .section7 .graf:first-of-type {
        padding: 0;
        margin: 0 0 40px;
    }

    .section6 .graf .graf_img {
        max-width: 100%;
    }
}

@media all and (max-width:900px) {
    .section6 .clm_box .row_box {
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .section6 .row_box .row_box {
        width: auto;
        padding: 0;
    }

    .section6 .item {
        margin: 40px 6px 0;
    }

    .section7 .graf:last-of-type {
        margin: 40px 0 0;
        align-items: flex-start;
    }

    .section7 .graf:last-of-type .graf_note {
        width: 100%;
        text-align: center;
    }
}

@media all and (max-width:650px) {
    .section1 .row_box:last-of-type {
        flex-direction: column;
        align-items: center;
    }

    .section2 .clm_box .row_box,
    .section3 .item_box,
    .section5 .row_box {
        flex-direction: column;
    }

    .section2 .item_img,
    .section2 .item_img2 {
        margin: 0 0 40px;
    }

    .section3 .graf_img,
    .section5 .graf_img,
    .section7 .graf_img {
        max-width: 100%;
    }

    .section3 .item_img {
        margin: 0 0 40px;
    }

    .section3 .item_box {
        align-items: center;
    }

    .section4 .text br,
    .section5 .graf .text br,
    .section5 .clm_box .text br,
    .section7 .graf_note br,
    .section7 .text br,
    .section4 .text br {
        display: none;
    }

    .section5 .item_box .text br {
        display: block;
    }

    .section5 .item_box .text {
        text-align: center;
    }

    .section5 .item_img,
    .section5 .item_img2 {
        margin: 40px 0;
    }

    .section6 .item {
        margin: 40px 40px 0;
    }

    .section2 .item_box .text {
        text-align: center;
    }
}


@media all and (max-width:425px) {
    .section4 .img_box img {
        max-width: 115px;
    }

    .section1 .row_box {
        flex-direction: column;
        align-items: center;
    }

    .section1 .title {
        font-size: 34px;
    }
}
