.section1 .item1 {
    max-width: 140px;
    margin: 0 18px 0 0;
}

.section1 .row_box {
    align-items: center;
}

.section1 h2 {
    color: #6667AB;
    font-size: 115px;
    line-height: 138px;
}

.section1 .text_title {
    padding: 0;
    font-size: 30px;
    line-height: 36px;
    margin: 0 0 0 13px;
}

.section1 .list .note {
    display: block;
    padding: 0 0 0 50px;
    position: relative;
}

.section1 .list .note span {
    padding: 0;
}

.section1 .list .note::before {
    top: 36%;
    left: 0;
}

.section1 .list .note:last-of-type {
    margin: 0 0 -39px;
}

.section1 .row_item_text {
    display: flex;
    flex-direction: column;
}

.section1 .row_item_text .title {
    font-size: 24px;
    font-weight: bold;
    color: black;
}

.section1 .item2,
.section1 .item4 {
    max-width: 158px;
}

.section1 .item3 {
    max-width: 135px;
    margin: 0 10px 0 60px;
}

.section1 .item5 {
    max-width: 87px;
    margin: 0 0 0 20px;
}

.section1 .row_box:nth-of-type(2n+1) {
    margin: 60px 0 0;
}


.section2 {
    padding: 62px 0;
    color: white;
}

.section2 img {
    max-width: 100%;
}

.section2 .graf_note {
    margin: -24px 0 0;
}


.section3 {
    padding: 71px 0;
}

.section3 .content {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section3 .clm_box {
    align-items: center;
    width: auto;
}

.section3 .title {
    font-size: 24px;
    line-height: 31px;
    color: black;
    font-weight: 400;
    text-align: center;
}

.section3 .item_img {
    max-width: 64px;
}

.section3 .item1_img {
    max-width: 125px;
}

.section3 .clm_box .row_box {
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    padding: 8px 11px 8px 0;
}

.section3 .text_border {
    position: relative;
    height: fit-content;
    padding: 0 0 0 10px;
    margin: 0 0 0 13px;
}

.section3 .text_border span {
    font-weight: bold;
}

.section3 .text_border::before {
    content: '';
    position: absolute;
    left: -7px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/Seksuaalkuriteod_img/section3_icon.png);
    width: 7px;
    height: 100%;
}

.section3 .bg_text {
    color: white;
    font-size: 27px;
    line-height: 35px;
    font-weight: 500;
    background-color: #6667AB;
    border-radius: 11px;
    padding: 1px 11px 3px;
    position: relative;
    margin: 40px 0 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section3 .bg_text::before,
.section3 .bg_text::after {
    width: 3px;
    height: 26px;
    background-color: #6667AB;
    position: absolute;
    content: '';
}

.section3 .bg_text::before {
    top: -26px;
}

.section3 .bg_text::after {
    bottom: -26px;
}

.section3 .clm_box:last-of-type {
    align-items: flex-start;
}

.section3 .clm_box:last-of-type .title {
    font-weight: bold;
    text-align: left;
}

.section3 .list {
    border-color: #777976;
    margin: 15px 0 40px;
}

.section3 .list .note::before {
    background-color: #777976;
}

.section3 .row_box .house_icon {
    max-width: 157px;
}

.section3 .clm_box:last-of-type .text {
    font-size: 18px;
}

.section3 .clm_box:last-of-type .row_box {
    justify-content: flex-start;
    margin: 34px 0 0;
}

.section3 .row_box_text {
    font-size: 30px;
    line-height: 36px;
    margin: 0 0 0 20px;
}

.section4 {
    padding: 70px 0;
    color: white;
}

.section4 .h1 {
    font-size: 24px;
    font-weight: bold;
}

.section4 .row_box {
    justify-content: space-between;
}

.section4 .row_item_text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 0 0 20px;
}

.section4 .list {
    margin: 15px 0 0;
}

.section4 .list .note {
    display: block;
    padding: 0 0 0 50px;
    position: relative;
}

.section4 .list .note span {
    padding: 0;
}

.section4 .list .note::before {
    top: 34%;
    left: 0;
}

.section4 .list .note:nth-of-type(1)::before,
.section4 .list .note:nth-of-type(5)::before,
.section4 .list .note:nth-of-type(7)::before {
    top: 53%;
    left: 0;
}

.section4 .list .note:last-of-type {
    margin: 0 0 -19px;
}

.section4 .title_big {
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    margin: 0 0 30px;
}

.section4 .item_box {
    display: flex;
    width: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 42px 0 0;
}

.section4 .number_text {
    font-size: 128px;
    line-height: 1;
    font-weight: bold;
    color: #B6B7D7;
    letter-spacing: -14px;
}

.section4 .number_text span {
    font-size: 82px;
    color: #B6B7D7;
    margin: 0 15px 0 -15px;
}

.section4 .text {
    font-size: 18px;
    line-height: 25px;
}

.section4 .text span {
    font-weight: bold;
}

.section4 .item_box img {
    max-width: 183px;
    margin: 0 0 10px;
}

.section4 .title {
    color: white;
    font-size: 30px;
    font-weight: 400;
    margin: 80px 0 0;
}

.section4 .circle_box {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: #B6B7D7;
    color: #28296D;
    font-size: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 13px 0 10px;
    font-weight: 600;
}

.section4 .items_all_box .text {
    text-align: center;
    width: 100%;
}

.section4 .items_all_box {
    justify-content: flex-start;
}

.section4 .clm_box .row_box {
    justify-content: flex-start;
}

.section5 {
    padding: 71px 0;
}

.section5 .content {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section5 .clm_box {
    align-items: center;
    width: 50%;
}

.section5 .title {
    font-size: 24px;
    line-height: 31px;
    color: black;
    font-weight: 400;
}

.section5 .title span {
    font-weight: bold;
}

.section5 .item1_img {
    max-width: 289px;
    margin: 0 0 30px;
}

.section5 .item2_img {
    max-width: 158px;
}

.section5 .row_box {
    margin: 54px 0 0;
    justify-content: flex-start;
    width: 100%;
}

.section5 .row_box .text {
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    margin: 0 0 0 13px;
}



@media all and (max-width:1200px) {
    .section1 .item1 {
        max-width: 130px;
    }
}

@media all and (max-width:900px) {
    .section1 .row_box:nth-of-type(2n+1) {
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 30px;
    }

    .section .clm_box {
        width: 100%;
        align-items: center;
    }

    .section3 .content {
        flex-direction: column;
    }

    .section3 .clm_box .row_box {
        width: auto;
        position: relative
    }

    .section3 .text_border {
        position: absolute;
        right: -155px;
    }

    .section3 .clm_box:last-of-type {
        align-items: center;
    }

    .section5 .content {
        flex-direction: column;
    }

    .section .clm_box:last-of-type {
        margin: 30px 0 0;
    }

    .section5 .row_box {
        justify-content: center;
    }
}

@media all and (max-width:650px) {
    .section1 h2 {
        font-size: 74px;
    }

    .section1 .text_title {
        font-size: 20px;
        line-height: 30px;
    }

    .section1 .row_box:nth-of-type(2n+1) {
        padding: 0;
    }

    .section1 .item2,
    .section1 .item4 {
        max-width: 100px;
    }

    .section1 .item3 {
        max-width: 100px;
        margin: 0 10px 0 30px;
    }

    .section1 .item5 {
        max-width: 60px;
        margin: 0 0 0 20px;
    }

    .section3 .title br,
    .section3 .clm_box:last-of-type .text br,
    .section5 .title br {
        display: none;
    }

    .section2 .graf_note {
        margin: 20px 0 0;
    }
}

@media all and (max-width:375px) {

    .section3 .clm_box .row_box,
    .section5 .row_box {
        flex-direction: column;
    }

    .section5 .row_box {
        align-items: center;
    }

    .section3 .text_border {
        position: relative;
        right: 0;
    }

    .section1 .title {
        font-size: 34px;
    }

    .section1 h2 {
        font-size: 55px;
    }

    .section1 .list .note {
        font-size: 12px;
        line-height: 21px;
    }
}
