.section1 .text_title {
    font-size: 24px;
    line-height: 31px;
    color: #6667AB;
    font-weight: 400;
}

.section1 .grafs_box {
    align-items: flex-start;
}

.section1 .text_title span {
    font-weight: bold;
}

.section1 .number {
    color: #6667AB;
    font-size: 79px;
    line-height: 80px;
    font-weight: bold;
}

.section1 .icon1 {
    max-width: 153px;
    margin: 0 7px 0 0;
}

.section1 .note {
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
    margin: 15px 0 0;
}

.section1 .icon2 {
    max-width: 236px;
    margin: -8px 0px 0 0;
}

.section1 .icon3 {
    max-width: 147px;
    margin: 0px 0px 0 14px;
}

.section1 .box {
    color: black;
    display: flex;
    align-items: center;
    width: 48%;
    margin: -30px 0 0;
}
.section1 .title_box
{
    margin: 0;
}

.section1 .box p {
    color: black;
}

.section1 .box:first-of-type {
    align-items: flex-end;
}

.section1 .row_box:last-of-type {
    align-items: flex-end;
    justify-content: space-between;
}

.section1 .graf:last-of-type .graf_img {
    max-width: 541px;
    max-height: inherit;
}

.section2 {
    padding: 66px 0;
    color: white;
}

.section2 .graf_img {
    max-width: 100%;
}

.section2 .clm_box {
    flex-direction: column;
    align-items: flex-start;
}

.section2 .row_item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: 0 0 70px
}

.section2 .row_item:last-of-type {
    margin: 0;
}

.section2 .icon1 {
    max-width: 86px;
    margin: 0 22px 0 0;
}

.section2 .row_item_text .text {
    font-size: 18px;
    font-weight: bold;
}

.section2 .grafs_box {
    align-items: flex-start;
}

.section2 .icon2 {
    max-width: 147px;
    margin: 0 0 40px -8px;
}

.section2 .icon3 {
    max-width: 104px;
    margin: -112px 0 0 0px;
}

.section2 .text_title {
    font-size: 24px;
    line-height: 31px;
    font-weight: 400;
}

.section2 .circle_box {
    border-radius: 50%;
    background-color: #9293C3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 133px;
    height: 133px;
    margin: 0 -34px 0 12px;
}

.section2 .number {
    font-size: 55px;
    color: white;
    font-weight: bold;
}

.section2 .circle_box .text {
    text-align: center;
    font-size: 18px;
}

.section3 {
    padding: 67px 0;
}

.section3 .clm_box {
    width: 50%;
    justify-content: flex-start;
    align-items: flex-start;
}

.section3 .icon1 {
    max-width: 177px;
    margin: 0 20px 0 0;
}

.section3 .text {
    font-size: 24px;
    line-height: 31px;
    font-weight: 400;
}

.section3 .number {
    font-size: 79px;
    line-height: 80px;
    color: #6667AB;
    font-weight: bold;
}

.section3 .row_box {
    margin: 0 0 61px;
}

.map_box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 46%;
}

.map_box .map_img {
    max-width: 100%;
}

.section3 .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}




.section4 {
    padding: 64px 0;
    color: white;
}

.section4 .graf {
    width: auto;
}

.section4 .graf_img {
    max-width: 540px;
}

.section4 .clm_box {
    flex-direction: column;
    align-items: flex-start;
}

.section4 .row_item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: 0 0 58px
}

.section4 .row_item:last-of-type {
    margin: 0;
}

.section4 .icon1 {
    max-width: 160px;
    margin: 0 25px 0 0;
}

.section4 .grafs_box {
    align-items: flex-start;
}

.section4 .text_title {
    font-size: 24px;
    line-height: 31px;
    font-weight: 400;
}

.section4 .text_title span {
    font-weight: bold;
}

.section4 .list {
    margin: 24px 0 0;
}

.section4 li {
    list-style-position: outside;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding: 0 0 0 7px;
    margin: 0 0 0 8px;
}

.section4 li::marker {
    content: '*';
}

.section4 .h1 {
    font-size: 36px;
    line-height: 43px;
    font-weight: bold;
    margin: 0 0 55px;
}

.section5 {
    padding: 68px 0 0;
}

.section5 a {
    color: black;
    text-decoration: none;
    cursor: pointer;
    word-break: break-all;
}

@media all and (max-width:1024px) {
    .section1 .note br {
        display: none;
    }

    .section2 .text_title {
        width: 48%;
    }

    .section4 .grafs_box {
        flex-direction: column;
        align-items: center;
    }

    .section4 .graf {
        margin: 50px 0 0;
    }
    .section1 .box
    {
        margin: 0;
    }
}

@media all and (max-width:900px) {
    .section1 .row_box:last-of-type {
        flex-direction: column;
        align-items: center;
    }

    .section1 .box {
        width: auto;
        margin: 30px 0 0;
    }

    .section2 .grafs_box {
        align-items: center;
    }

    .section2 .text_title {
        width: auto;
    }

    .section3 .content {
        flex-direction: column;
        align-items: center;
    }

    .section3 .clm_box {
        width: auto;
    }

    .map_box {
        width: 100%;
        margin: 30px 0 0;
    }

    .section4 .graf_img {
        max-width: 100%;
    }
}

@media all and (max-width:600px) {
    .section1 .box {
        flex-direction: column;
    }

    .section1 .icon2,
    .section1 .icon3 {
        margin: 20px 0 0 0;
    }

    .section2 .row_item {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .section2 .text_title {
        width: 100%;
        text-align: center;

    }

    .section2 .circle_box {
        margin: 30px 0 0;
    }

    .section2 .icon3 {
        margin: -26px 0 0 -23px;
    }

    .section2 .icon2 {
        margin: 20px 0 0;
    }

    .section3 .row_box {
        flex-direction: column;
    }

    .section3 .clm_box {
        align-items: center;
    }

    .section3 .icon1,
    .section4 .icon1 {
        margin: 0 0 30px;
    }

    .section3 .text:last-of-type br {
        display: none;
    }

    .section4 .row_item {
        flex-direction: column;
        align-items: center;
    }

    .section1 .title {
        font-size: 34px;
    }
}
